# source code
__pycache__
.venv
.env
build
*.egg-info/
idml2xml-frontend
idml2hubxml

# dev
*.native
bollo.*
!lua-filters/tests/bollo.*
*.xml
*.log
sources
output
articles
*.old
workshop
maps

# docs
!docs/build
build/en/.doctrees
build/fr/.doctrees
objects.inv
*.mo
gettext
*.pickle
*.doctree